{% load staticfiles %}
<link href='https://fonts.googleapis.com/css?family=Oswald' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
<link href="{% static 'css/index.css' %}" rel="stylesheet" type="text/css">
<br><br><br><br><br><br><br><br><br><br><br><br>

<div class="wrapper">
  <form class="form" method="POST" >
      {% csrf_token %}

    <input type="text" class="name" name="name" placeholder="Name">
    <div>
      <p class="name-help">Please enter your first and last name.</p>
    </div>
      {% if message %}
      <input type="text" class="username" name="username" placeholder="{{ message }}">
    <div>
      <p class="username-help">Please enter your username.</p>
    </div>
      {% else %}
      <input type="text" class="username" name="username" placeholder="Username">
    <div>
      <p class="username-help">Please enter your username.</p>
    </div>
      {% endif %}

      <input type="text" class="school" name="school" placeholder="School">
    <div>
      <p class="school-help">Please enter the name of your school.</p>
    </div>

      <input type="text" class="email" name="email" placeholder="Email">
     <div>
      <p class="email-help">Please enter your current email address.</p>
    </div>

      <input type="password" class="password" name="password" placeholder="Password">
     <div>
      <p class="password-help">Please enter your password.</p>
    </div>

    <input type="submit" class="submit" value="Register">
  </form>
</div>