{% load staticfiles %}
<link href='https://fonts.googleapis.com/css?family=Oswald' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
<link href="{% static 'css/login.css' %}" rel="stylesheet" type="text/css">
<br><br><br><br><br><br><br><br><br><br><br><br>

<div class="wrapper">
        {{ error_message }}
  <form class="form" method="POST" >
      {% csrf_token %}

      <input type="text" class="username" name="username" placeholder="Username">
    <div>
      <p class="username-help">Please enter your username.</p>
    </div>

      <input type="password" class="password" name="password" placeholder="Password">
     <div>
      <p class="password-help">Please enter your password.</p>
    </div>

    <input type="submit" class="submit" value="Login">
  </form>
</div>