{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<script src="{% static 'js/quiz.js' %}"></script>
<head>
    <meta charset="UTF-8">
    <title>Quiz</title>
    <link href="{% static 'css/quiz.css' %}" type="text/css" rel="stylesheet">
</head>
<body class="wrapper">
<div class="wrapper">
<form method="POST" name="form" action="/answer/">
    <p id="t"></p>
    {% csrf_token %}
        <h3>Q. {{ question.question_text }}</h3>
        {% if question.url %}
        <img src="{{ question.url }}" style="width: 400px; height: 300px;border: thick"><br>
        {% endif %}

        <table>
            <tr>
                <td><input type="radio" id="answer" name="answer" value="a"></td>
                <td>{{ question.option1 }}</td>
            </tr>
        </table>


        <table>
            <tr>
                <td><input type="radio" id="answer" name="answer" value="b"></td>
                <td>{{ question.option2 }}</td>
            </tr>
        </table>


        <table>
            <tr>
                <td><input type="radio" id="answer" name="answer" value="c"></td>
                <td>{{ question.option3 }}</td>
            </tr>
        </table>


        <table>
            <tr>
                <td><input type="radio" id="answer" name="answer" value="d"></td>
                <td>{{ question.option4 }}</td>
            </tr>
        </table>

        <input type="hidden" id="timer" name="timer" value="">
        <input type="hidden" name="question" value="{{ question.id }}">
        <input type="button" class="btn btn-default" onclick="submission()" value="Submit">
</form>
</div>
</body>
</html>